.primary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgb(0, 102, 255);
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}
.primary:hover{
    background-color: rgb(0, 102, 255, 0.8);
}

.secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgba(171, 171, 171, 0.601);
    border: 1px solid rgb(101, 101, 101);
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.secondary:hover{
    background-color: rgba(136, 136, 136, 0.3);
    border: 1px solid #fff;
}

.success{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgb(16, 238, 16);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.success:hover{
    background-color: rgba(0, 255, 0, 0.7);
}

.danger{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgb(233, 7, 7);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.danger:hover{
    background-color: rgba(255, 0, 0, 0.663);
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.link:hover{
    background-color: rgba(255, 255, 255, 0.185);
}
