.container_card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.container_card:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    bottom: 10px;
}