.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #000;
}

.modal_content{
    width: 100%;
    max-width: 700px;
    background-color: #232323;
    padding: 24px;
    border-radius: 12px;
    position: relative;
    z-index: 1001;
}

.modal_content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.modal_content header h2{
    font-size: 24px;
    font-weight: 600;
}