.background {
    background-color: rgb(24, 24, 24);
}


.header {
    background-color: rgb(24, 24, 24);
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 280px;
}
.header nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
}
.header nav ul li {
    list-style: none;
}

.selected_item {
    color: #d7d7d7;
    font-weight: 500;
    font-size: 2rem;
}

.not_selected_item {
    color: #5e5e5e;
    font-weight: 500;
    font-size: 2rem;
}



.main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    background-color: rgb(33, 33, 33);
    border: 1px solid #303030;
    border-radius: 12px 12px 0 0;
    margin: 0 248px;
}

.top_profile {
    background-color: #282828;
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 32px;
    border-radius: 12px 12px 0 0;
}

.profile_picture {
    border: 2px solid #5e5e5e;
    border-radius: 6px;
}

.profile_info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 24px;
}


.user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_desc_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

