.background {
    background-color: rgb(24, 24, 24);
    display: flex;
    height: calc(100vh - 100px);
    gap: 24px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 24px;
    border-radius: 0 12px 0 0;
    background-color: rgb(33, 33, 33);
}
.title {
    text-align: center;
    padding: 16px;
    margin: 0 0 12px 0;
    background-color: rgb(21, 21, 21);
    border-radius: 12px;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 8px;
}





.container {
    display: flex;
    flex-direction: column;
    flex: 9;
    border-radius: 12px 0 0 0;
    background-color: rgb(33, 33, 33);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 48px;
    min-height: 300px;
    border-radius: 8px;
    border: 2px solid rgba(50, 50, 50, 0.336);
}
.centered h1 {
    font-size: 32px;
    color: #3c3c3c89;
    font-weight: 700;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.body_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    animation: fadeIn 1s ease-out;
}

.exercise_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(27, 27, 27);
}
.exercise_header img{
    border-radius: 8px;
    width: 30%;
    height: auto;
}

.exercise_header h1 {
    font-size: 32px;
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    text-align: center;
}

.exercise_body {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(27, 27, 27);
}

.exercise_reps {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgb(27, 26, 26);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(50, 50, 50, 0.519);
}

.exercise_info_item_descanso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: rgb(27, 26, 26);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(50, 50, 50, 0.519);
}



.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 48px;
}
.loading h2 {
    font-size: 24px;
    color: #8f8f8f89;
    font-weight: 700;
    text-align: center;
}


.spinner {
    border: 8px solid rgb(85, 85, 85);
    border-top: 8px solid rgb(204, 204, 204);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




@media (max-width: 768px){
    .background {
        flex-direction: column;
        height: auto;
    }
    .cards {
        max-height: 350px;
    }
    .container {
        max-height: None;
        overflow-y: hidden;
    }
}







.spinner_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: rgb(20, 20, 20);
}

.spinner_container h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
}

.spinner {
    border: 8px solid rgb(80, 80, 80);
    border-top: 8px solid rgb(170, 170, 170);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}