.main{
    /* background-color: #2a2a2a; */
    background-image: url("/cadastro_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4848484a;
    border-radius: 8px;
    width: 50vw;
    min-width: 600px;
    height: 60vh;
    min-height: 550px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.386);
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 12px 0 0 12px;
    background-color: rgba(82, 103, 139, 0.564);
}

.description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 24px 32px 0 32px;
}




.form_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
    width: 50%;
    height: 100%;
}

.form_box h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}



.metabolismo_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.divButton {
    display: flex;
    justify-content: center;
    gap: 16px;
}



.biotipo_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.biotipo_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.selected_biotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_container_biotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}




.dieta_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dieta_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.selected_dieta {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.display_none{
    display: none;
}