.main{
    /* background-color: #2a2a2a; */
    background-image: url("/bg_cadastro.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4287f589;
    border-radius: 8px;
    width: 50vw;
    height: 60vh;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.386);
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 12px 0 0 12px;
    background-color: rgba(0, 145, 255, 0.564);
}

.description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 24px 32px 0 32px;
}




.form_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
    width: 50%;
    height: 100%;
}

.form_box h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}